<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        {% block head %}
        <!-- stuff in the blocks in base can be overwritten by other html files that
            import this base.html.
            So, says example.html imports base.html, and example html uses block head,
            that example.html block head overrides this base.html block head
        -->
        <meta charset="utf-8">
        <title>Base </title>
        {% endblock %}
    </head>
    <body>
        <h1>base</h1>
        <nav class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">MedHacks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'application_namespace:application' %}">Application</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_namespace:logout' %}">Logout</a>
                    </li>
                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_namespace:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_namespace:register' %}">Register</a>
                    </li>
                    {% endif %}
                </div>
            </nav>

            {% block body %}
                <h1>Base</h1>
            {% endblock %}
        </nav>

    </body>
</html>
